---
import presentation from "@/data/presentation";
import { Icon } from "astro-icon/components";
---

<ul role="list" class="flex flex-row gap-2">
  {
    presentation.socials.map((social, index) => (
      <>
        <a
          href={social.link}
          class:list={["hover:text-neutral-100 cursor-default"]}
          target="_blank"
        >
          <Icon name={social.icon} size="2rem" />
        </a>
      </>
    ))
  }
</ul>
